/* Imports */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,700&display=swap'); */

/* Reset styles */
/* * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
} */

/* General Styles */

/* a,
a:visited,
a:hover {
    color: red;
} */


/* Header */
#banner-nav {
    position: relative;
    
}
a.nav-link,
ul.navbar-nav>li.nav-item>a.nav-link
 {
    color:white;
}
i.fas{
    color:black;
}
/* #header { 
     background-color: #35858B; 
     display: flex; 
 } */

/* .logo_container,
.main_nav {
    position: relative;
    align-self: center;
} */

/* .logo {
    width: 100px;
} */

/* .banner {
    display: flex;
    align-self: center;

} */

/* .img_banner {
    align-self: stretch;
    width: 400px;
    height: 140px;
} */

/* .main_nav {
    position: relative;
    text-align: right;
    color: white;
    margin-right: 5px;
} */

/* .main_nav img {
    padding-right: 3px;
    width: 5%;
    vertical-align: middle;
} */


/* Nav Section*/

/* .secondary_nav {
    display: flex;
    font-weight: 700;
    background-color: #072227;
} */

/* .secondary_nav ul {
    display: flex;
    width: 100%;
    height: 30px;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
} */

/* .secondary_nav a:hover {
    color: #000;
} */

/* .secondary_nav li:hover {
    background-color: #4FBDBA;
} */

/* article {
    text-align: center;
} */

h1 {
    font-size: 50px;
}

/* .news_section {
    display: flex;
    justify-content: space-evenly;
} */

/* .news {
    position: absolute;
    right: 2%;
} */

.iframe {
    height: 500px;
    align-self: flex-end;
}

.animation{
    /* height: 100px; */
    /* width: 300px; */
    /* margin: 15px 0; */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    
}
.animation:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/* .title_page_section {
    text-align: center;
    margin-bottom: 2%;
} */

/* .contact_form {
    border-radius: 10px;
    background-color: #f2bdbd;
    padding: 0 40px;
} */

/* .img_login {
    width: 20%;
    height: 30%;
    margin-right: -300px;
} */

/* input,
textarea,
select,
button {
    background-color: #4f2121;
    width: 290px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
} */

/* textarea {
    width: 250px;
    padding-left: 10px;
    height: 100px;
} */

/* select {
    width: 100px;
    height: 30px;
} */

/* .user,
.pwd {
    width: 100px;
    font-weight: bold;
} */

/* Footer */
footer {
    margin-top: 2%;
    text-align: center;
}

/* .lbl_mensaje {
    position: relative;
    float: left;
    left: -4%;
} */

.footer_img {
    width: 2%;
}

/* .under {
    width: 40%;
    margin-top: -2.5%;
} */

/* @media screen and (max-width: 800px){    
    #header, 
    .banner{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-items: center;
        justify-content: center;
        grid-template-areas: "logo";
        grid-template-areas: "main_nav";
    }

    .logo{
        grid-area: logo;
    }        
    .main_nav{
        grid-area: main_nav;
    }
    .news_section{
        grid-area: news_section;
    }
    .contact_form{
        grid-area: contact_form;
        align-self: center;
    }
    .login{
        grid-area: login;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img_login{
        margin: 0 auto;
    }
    .main_nav a{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .banner_brand,
    .news{
        display: none;
    }
    
    .info ul{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 10px 0;
    }
    .info ul li {
        justify-items: space-between;
        line-height: 30px;
    }
    .news_section{
        display: flex;
        flex-direction: column;
    }
    .footer_img {
        width: 5%;
    }
    img{
        width: 50%;
        height: auto;
        align-self: center;
    }
    iframe{
        margin: 0 auto;
    }
} */