$rojo: #ec731e;
$naranja: #ec731e;
$blanco: white;

$mapaColores: (actividades_title: red,
    comision_title: orange,
    contactenos_title: yellow,
    documentos_title: green,
    exposiciones_title: blue,
    ferias_title: purple,
    institucion_title: pink);