@import "_variables";
@import "_mixin";
@import "_extends";

#banner-nav {
    position: relative;
}

a.nav-link,
a {
    color: $blanco;
}

.btn {
    margin-top: 2%;
    margin-left: 20%;
}

ul.navbar-nav {
    li.nav-item {
        a.nav-link {
            color: $blanco;
        }
    }
}

i.fass {
    color: black;
}

.info {
    margin-left: .2%;
}

.form {
    @extend %marginCenter;
    height: 290px;
}

textarea {
    height: 120px;
}

.img {
    @extend %marginCenter;
    width: 450px;
}

.login {
    height: 365px;
}

.form_login {
    margin-top: 5%;
}

h1 {
    font-size: 50px;
}

.news {
    width: 400px;
    align-self: flex-end;
}

.institucional {
    @extend %marginCenter;
    padding-bottom: 20px;
}

.iframe {
    height: 300px;
    align-self: flex-start;
    margin-right: 35px;
}

.img_servicios,
.img_actividades {
    margin-top: 15px;
    height: 50%;
    align-self: center;
    align-content: center;
}

.animation:hover {
    filter: opacity(.5);
}

.actividades,
.comision_directiva {
    height: 415px;
}

.actividades_title {
    color: map-get($mapaColores, actividades_title)
}

.comision_directiva {
    height: 365px;
}

.actividades {
    height: 365px;
}

.card {
    width: 430px;
    height: 405px;
}

.comision_title {
    color: map-get($mapaColores, comision_title)
}

.contactenos_title {
    @include fondo($naranja, map-get($mapaColores, contactenos_title))
}

.documentos_title {
    @include fondo($naranja, map-get($mapaColores, documentos_title))
}

.servicios {
    height: 365px;
}

.contactenos {
    height: 365px;
}

.galery {
    width: auto;
    @extend %marginCenter;
}

.predio_info {
    height: 365px;
    @extend %marginCenter;
}

.predio {
    @extend %marginCenter;
    width: 600px;
    height: 400px;
}

.section_info {
    height: 366px;
}

.about_us {
    height: 365px;
}

.img_login {
    width: 20%;
    height: 30%;
    margin-right: -300px;
}

footer {
    margin-top: 3%;
    text-align: center;
}

.footer_img {
    padding-right: 15px;
    width: 3.5%;
}

.under {
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}